<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>001.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1533},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>002.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,1533},{217,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,217}</string>
			</dict>
			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1752},{37,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,39}</string>
			</dict>
			<key>background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,1136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>ball_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1983},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>ballNumBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>button_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1803},{398,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,97}</string>
			</dict>
			<key>buttonBig.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1937},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>buttonUpLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,124},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>content.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1139},{392,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{392,338}</string>
			</dict>
			<key>content_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1983},{38,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,12}</string>
			</dict>
			<key>continue_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1932},{195,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,39}</string>
			</dict>
			<key>cup_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1851},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,114}</string>
			</dict>
			<key>floor.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2011},{640,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,27}</string>
			</dict>
			<key>gameover_board_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1935},{525,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,74}</string>
			</dict>
			<key>LOGO.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1803},{519,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,130}</string>
			</dict>
			<key>pause_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1967},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>pause_button_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1752},{398,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,97}</string>
			</dict>
			<key>propBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1851},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1957},{84,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,113}</string>
			</dict>
			<key>rank_board2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1514,1},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>rankBtnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1851},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>reset_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1983},{199,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,41}</string>
			</dict>
			<key>restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1341,1937},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>share_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,1851},{84,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,113}</string>
			</dict>
			<key>share_friend_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,1973},{199,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,38}</string>
			</dict>
			<key>start_game_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1932},{204,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,49}</string>
			</dict>
			<key>track.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1139},{538,662}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{538,662}</string>
			</dict>
			<key>view_rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1902},{255,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,28}</string>
			</dict>
			<key>voice_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,1937},{84,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,113}</string>
			</dict>
			<key>voice_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,1851},{84,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>StaticPlist.png</string>
			<key>realTextureFileName</key>
			<string>StaticPlist.png</string>
			<key>size</key>
			<string>{1691,2042}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1691</integer>
			<key>height</key>
			<integer>2042</integer>
		</dict>
	</dict>
</plist>